In [297]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,PowerTransformer,StandardScaler,MinMaxScaler,PolynomialFeatures,LabelEncoder
from sklearn.metrics import *
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from google.colab import files

In [298]:
df=pd.read_csv('exercise.csv')

In [299]:
df.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [300]:
df_1=pd.read_csv('calories.csv')

In [301]:
df_new=df_1['Calories']

In [302]:
df_new.head()

0    231.0
1     66.0
2     26.0
3     71.0
4     35.0
Name: Calories, dtype: float64

In [303]:
df=pd.concat([df,df_new],axis=1)

In [304]:
df.head()

    User_ID  Gender  Age  Height  ...  Duration  Heart_Rate  Body_Temp  Calories
0  14733363    male   68   190.0  ...      29.0       105.0       40.8     231.0
1  14861698  female   20   166.0  ...      14.0        94.0       40.3      66.0
2  11179863    male   69   179.0  ...       5.0        88.0       38.7      26.0
3  16180408  female   34   179.0  ...      13.0       100.0       40.5      71.0
4  17771927  female   27   154.0  ...      10.0        81.0       39.8      35.0

[5 rows x 9 columns]

In [305]:
df.shape

(15000, 9)

In [327]:
df.corr()

             User_ID       Age    Height  ...  Heart_Rate  Body_Temp  Calories
User_ID     1.000000 -0.001827 -0.013520  ...   -0.000457   0.000923 -0.001661
Age        -0.001827  1.000000  0.009554  ...    0.010482   0.013175  0.154395
Height     -0.013520  0.009554  1.000000  ...    0.000528   0.001200  0.017537
Weight     -0.011603  0.090094  0.958451  ...    0.004311   0.004095  0.035481
Duration   -0.002751  0.013247 -0.004625  ...    0.852869   0.903167  0.955421
Heart_Rate -0.000457  0.010482  0.000528  ...    1.000000   0.771529  0.897882
Body_Temp   0.000923  0.013175  0.001200  ...    0.771529   1.000000  0.824558
Calories   -0.001661  0.154395  0.017537  ...    0.897882   0.824558  1.000000

[8 rows x 8 columns]

In [306]:
df.describe()

            User_ID           Age  ...     Body_Temp      Calories
count  1.500000e+04  15000.000000  ...  15000.000000  15000.000000
mean   1.497736e+07     42.789800  ...     40.025453     89.539533
std    2.872851e+06     16.980264  ...      0.779230     62.456978
min    1.000116e+07     20.000000  ...     37.100000      1.000000
25%    1.247419e+07     28.000000  ...     39.600000     35.000000
50%    1.499728e+07     39.000000  ...     40.200000     79.000000
75%    1.744928e+07     56.000000  ...     40.600000    138.000000
max    1.999965e+07     79.000000  ...     41.500000    314.000000

[8 rows x 8 columns]

In [368]:
# X=df.drop(['Height','Body_Temp','Heart_Rate','User_ID','Calories'],axis=1)
X=df.drop(['User_ID','Calories'],axis=1)
y=df.Calories

In [369]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [370]:
cat_cols=[i for i in x_train.columns if x_train[i].dtypes=='O']

In [371]:
label=LabelEncoder()
for i in cat_cols:
  x_train[i]=label.fit_transform(x_train[i])
  x_test[i]=label.transform(x_test[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [372]:
# def model(x,y,x_,y_,alg):
#   pp=Pipeline([
#               ('step3',MinMaxScaler()),
#               #  ('step4',PolynomialFeatures(degree=5)),
#               ('model',alg)
#   ])
#   y_pred=pp.fit(x,y).predict(x_)
#   z=mean_squared_error(y_,y_pred)
#   print(z)
#   print(r2_score(y_,y_pred))

In [373]:
from joblib import *

In [374]:
pp=Pipeline([
            ('step3',StandardScaler()),
             ('step2',PolynomialFeatures(degree=3)),
              ('model',LinearRegression())
  ])

In [375]:
y_pr=pp.fit(x_train,y_train).predict(x_test)

In [376]:
mean_squared_error(y_pr,y_test)

0.08596824674901528

In [377]:
r2_score(y_test,y_pr)

0.9999777205652631

In [326]:
dump(pp,'Kumar.ml')
files.download('Kumar.ml')

In [318]:
model=load('Kumar.ml')

In [319]:
model.predict([[1,23,156,77,9,100,40]])

array([42.57027489])

In [320]:
x_test

       Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
1670        0   27   170.0    66.0       9.0        94.0       39.8
13379       1   28   191.0    87.0       6.0        82.0       39.3
10234       0   28   197.0    87.0      22.0        95.0       40.8
4719        1   27   171.0    72.0      29.0       111.0       41.1
7003        0   79   171.0    66.0      19.0       103.0       40.1
...       ...  ...     ...     ...       ...         ...        ...
10346       0   25   172.0    69.0      18.0        96.0       40.5
8469        0   36   176.0    74.0      23.0       108.0       40.8
12765       1   33   197.0    93.0       9.0        85.0       39.6
9431        0   41   161.0    60.0      24.0       105.0       40.7
4202        1   69   168.0    71.0      20.0       107.0       40.5

[3000 rows x 7 columns]